div {
  height: 100%;
  width: 50%;
}
.container {
  text-align: center;
  padding: 20px;
  background-color: gray;
}
.left-aligned {
  text-align: left;
  background-color: rgb(209, 55, 55);
}
.right-aligned {
  text-align: right;
  background-color: rgb(54, 12, 94);
}
