/* div {
  height: 100px;
  width: 100px;
} */
.container {
  text-align: center;
  padding: 20px;
  background-color: gray;
  /* display: flex; */
}
.left-aligned {
  text-align: left;
  background-color: rgb(209, 55, 55);
}
.right-aligned {
  text-align: right;
  background-color: rgb(54, 12, 94);
}
