#box {
    color: blue;
    /* background-color: black; */
    text-align:  center;

}

.login{
    text-align:  center;
    
}



#outer{
    /* border: 50x solid  blue;   */
    height: 100%;
    width: 100%;
    padding: 5%;
    /* background-color: black; */
    /* align-content: center; */
   margin-left: 50px;
   
}

#first{
    background-color: red;
    height: 100px;
    width: 100px;
    padding: 25px;
   border-radius: 50%;
    text-align: center;
    margin-left: 30%;
    margin-bottom: 10px;
    
}

#second{
    background-color: green ;
    height: 100px;
    width: 100px;
    padding: 25px;
   border-radius: 50%;
   text-align: center;
   margin-left: 30%;
    margin-bottom: 10px;

}

#third{
    background-color: yellow;
    height: 100px;
    width: 100px;
    padding: 25px;
   border-radius: 50%;
   text-align: center;
   margin-left: 30%;
    margin-bottom: 10px;

    
}